.data-div-title {
    float: left;
    overflow: hidden;
    width: 200px;
    height: 100%;
    margin-right: 20px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    text-align: center;
    background: #4490f6;
}

h1 {
    margin-top: 60px;
    color: white;
}

.data-div-content {
    float: left;
}

.data-span-part {
    padding-right: 2em;
}

.data-div-capability p,
.data-div-education p,
.data-div-project p {
    white-space: pre-wrap;
}

br {
    clear: both;
}
